@model ModelBinders_Demo.Models.ProfileViewModel
<div>
    This is template model for ProfileViewModel
</div>

<div>
    <p>
        @Model.FirstName
    </p>
    <div>
        @Model.Age
    </div>
</div>